* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

  body {
    font-family: "Montserrat", sans-serif;
  }
  
  .bg {
    background-image: url(https://d9j7peqsnwrxz.cloudfront.net/public/images/site_content/.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  
  
  .banner__content {
    display: flex;
    align-items: center;
    height: 80vh;
    color: #fff;
  }
  .container {
    width: 1200px;
    max-width: 1200px;
    margin: 0 auto;
  }
  .banner__text {
    width: 500px;
  }
  .banner__text h3 {
    font-size: 50px;
  }
  
  
  .navbar {
    padding: 10px 0;
    background-color: #243c6e;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
  }
  .navbar__text {
    display: flex;
    height: 60px;
    align-items: center;
    width: 1200px;
  
  }
  .logo {
    width: 20%;
    margin-left: 130px;
  }
  .logo img {
    width: 200px;
   
  }
  .category img{
    width:60%;
    height:30%;
    margin-left: 28px;
  }
  .course{
    color: white;
    white-space: nowrap;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    margin-left: 50px;
  }
  .test-class{
    width: 500px;
    margin-left: 10px;
  }
  .dropdwon{
    margin-left: 80px;
  }
.btn{
  text-decoration: none;
  outline: none;
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  padding: 10px 20px;
}
.btn_outline{
border: 2px solid #fff;


}
.button{
  display: flex;
 margin-left: 40px;
}

.MuiButton-contained {
  color: rgba(0, 0, 0, 0.87);
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  background-color: #243c6e;
}

.MuiButton-label {
  width: 100%;
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
  color: #fff;
}
.MuiSvgIcon-root {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 1.5rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
  color: #fff;
  margin-left: 60px;
}
.MuiButton-text {
  padding: 6px 8px;
  margin-left: 130px;
}
 
  
.p-25 {
  padding: 45px;
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.col-6 {
  width: 50%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33333333333333%;
}

  .hbelow {
    width: 100%;
    padding: 100px 0;
    background: linear-gradient(
      45deg
      ,#ff5722,#ff5722,#280b82,#280b82);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
  }
  .icon{
    border: 3px solid #fff;
    border-radius: 50px;
    margin-right: 30px;
  }
  
.MuiSvgIcon-root {
  margin: 35px;
}
  .below{
    display: inline-flex;
    font-size: xx-small;
  }
  .bannercontent {
    background: rgba(36,60,110,.35);
    padding: 50px;
    width: 1000px;
    height: 300px;
    margin-left: 30px;
}
.h4{
  padding-top: 20px;
}
.button1{
  display: inline-flex;
  margin-left: 130px;
  padding-block: initial;
  padding-top: 5px;
}
  